app:tabs
  app:tab(caption='Floor', selected='true')
    h2 Step 1: Calculate a total quote
    section(ng-controller='quoteController as controller')
      form.well(ng-submit="controller.insertQuote(controller.quote)")
        span Project:
        input(type='text', ng-model='controller.project.name')
        | {{controller.project.name}}
        br

        span Enter number of square feet:
        input(type='text', ng-model='controller.sf', placeholder="28")
          //- FIXME:
        | {{controller.sf}} x ${{controller.labor.price}} = ${{controller.labor.total}}
        br

        span Enter number of inserts:
        input(type='text', ng-model='controller.inserts.amount', placeholder="0")
        | {{controller.inserts.amount}} x ${{controller.inserts.price}} = ${{controller.inserts.total}}
        br

        span Add sealer?
        button.btn.btn-primary(type="button", ng-model='controller.sealer.amount', btn-checkbox btn-checkbox-true="1", btn-checkbox-false="0")
          | Sealer
        | {{controller.sealer.amount}} x ${{controller.sealer.price}} = ${{controller.sealer.total}}
        br

        span Add caulking?
        button.btn.btn-primary(type="button", ng-model='controller.caulking.amount', btn-checkbox btn-checkbox-true="1", btn-checkbox-false="0")
          | Caulking
        | {{controller.caulking.amount}} x ${{controller.caulking.price}} = ${{controller.caulking.total}}
        p
        | Total: ${{controller.quote.total}} 
        button.btn(type='submit')
          | Submit
        pre {{controller.sf}}
        pre {{controller.labor}}
        pre {{controller.quotes}}
        pre {{controller.options}}




      ul
        li.row(ng-repeat='quote in controller.quotes')
          a(ng-href='#/quotes/{{quote.id}}', ng-bind='quote.price')
          //- a(ng-bind="quote.price")
      //- copy from angulrapp examples
      //- gives total
      //- add grouting
      //- all total
      //- persist as guest.quote
      //- issue: see models in terminal
      //- how to use $log

      h2 Floor Tile 
      div
        a Contact us
        |  about your floor project.
      //- CHECK: is div appropriate for wanting to seperate new line? or should I use br? other?
      div
        a Gallery
      //- form.well
        ng:include(src="'/views/quote-calculator.html'")
        ng:include(src="'/views/contact-form.html'")
    

  app:tab(caption='Shower')
    section(ng-controller='gitHubController as controller')

  app:tab(caption='Backsplash')
    section(ng-controller='gitHubController as controller')


  //- app:tab(caption='GitHub')
  //-   section(ng-controller='gitHubController as controller')
      
  //-     form.well.form-search(ng-submit='controller.search(controller.searchTerm)')
  //-       input.input-medium.search-query(type='text', ng-model='controller.searchTerm')
  //-       button.btn(type='submit')
  //-         i.glyphicon.glyphicon-search
  //-         | Search
  //-     ul(ng-hide='!controller.repos.length')
  //-       li(ng-repeat='repo in controller.repos track by repo.id | orderBy:\'pushed_at\':true')
  //-         a(ng-href='{{repo.clone_url}}', ng-bind='repo.name', target='_blank')
  //-         div(ng-bind='repo.description')

  app:tab(caption='Contact us')
    .row
      .col-lg-6
        section(ng-controller='contactController as controller')

          .alert.alert-danger(ng-show='!!controller.error')
            h4.alert-heading(ng-bind='controller.error.title')
            span(ng-bind='controller.error.message')
          form.well.form-search(ng-submit='controller.insertContact(controller.contact)')
            p Contact us
              //- span.label.label-info Heads up!
              //- span.text-info Try adding a duplicate name.
            input.input-medium(type='text', ng-model='controller.contact.name', placeholder='Name')
            input.input-small(type='text', ng-model='controller.contact.email', placeholder='Email')
            input.input-small(type='text', ng-model='controller.contact.message', placeholder='Message')
            button.btn(type='submit')
              | Send

          li.dropdown
            a.dropdown-toggle
              | click to see submits
            ul.dropdown-menu(ng-hide='!controller.contacts.length')
              li.row(ng-repeat='contact in controller.contacts track by contact.id | orderBy:\'name\'')
                a(ng-href='#/contacts/{{contact.id}}', ng-bind='contact.name')
                br
                a(ng-href='#/contacts/{{contact.id}}', ng-bind='contact.email')
                br
                a(ng-href='#/contacts/{{contact.id}}', ng-bind='contact.message')

         //- <div class="col-lg-2">
          //-       <section ng-controller="personDetailsController as controller">
          //-         <dl>
          //-           <dt>Name</dt>
          //-           <dd ng-bind="controller.person.name"></dd>
          //-           <dt>Age</dt>
          //-           <dd ng-bind="controller.person.age"></dd>
          //-         </dl>
          //-       </section>
          //-     </div> 
